
div{
    display: flex;
    flex-direction: column; 
    justify-content: space-between; 
    height: 100%;
    ion-button{
        height: 100%;
        --background: #7c78b8;
        text-align: justify;
        font-size: 300%;
        font-family: Montserrat;

    }
    font-family: Montserrat;
}

ion-button{
    border-radius: 80px;
    font-family: Montserrat;
    --border-color: #5271ff;

}
ion-toolbar{
    font-family: Montserrat;
    color: black !important;
    --background: #7f7bba;
    }
ion-card{
    --background: #7f7bba;
    font-family: Montserrat;
    color: black !important;
    height: 60%;
    ion-card-subtitle{
        font-size: 100%;
        color: black !important;
    }
    ion-card-title{
        font-size: 200%;
        color: black !important;
    }
    ion-card-content{
        font-size: 600%;
    }
}

ion-fab-button{
    --background: #7f7bba;
}

    